* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

body {
   font-family: "Dela Gothic One", cursive;
   background: linear-gradient(153deg, rgba(62,152,245, 0.6) 0%, rgba(25,255,16,0.12) 100%);
   display: grid;
   place-items: center;
   align-content: center;
   min-height: 100vh;
}

:root {
   --primary: #08417d;
   --dark-faded: rgba(100, 100, 100, 0.4);
   --transition: all 250ms ease-in-out;
   --white-faded: rgba(255, 255, 255, .5);
   
}

h1 {
   padding: 2rem 1.5rem 0;
   text-align: center;
   color: var(--primary);
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   width: 100%;
   grid-gap: 1rem;
   padding: 2.5rem;
   transition: var(--transition);
}

.lightbox-enabled {
   width: 100%;
   object-fit: cover;
}

.lightbox-enabled:hover {
   opacity: .8;
   cursor: zoom-in;
   transform: scale(1.03);
}

.lightbox-container {
   position: fixed;
   min-width: 120vw;
   min-height: 120vh;
   background-color: var(--white-faded);
   display: grid;
   place-items: center;
   padding: 1rem;
   z-index: 100;
   opacity: 0;
   pointer-events: none;
   transition: var(--transition);
}

.lightbox-container.active {
   opacity: 1;
   pointer-events: all;
}

.lightbox-image-wrapper {
   display: grid;
   place-items: center;
   max-width: 90vw;
   max-height: 90vh;
   position: relative;
   box-shadow: 3px 3px 10px var(--dark-faded);
}

.lightbox-btn {
   background-color: var(--white-faded);
   display: grid;
   place-items: center;
   color: var(--primary);
   cursor: pointer;
   transition: var(--transition);
   position: absolute;
}

.lightbox-btn.inactive {
   opacity: 0;
   pointer-events: none;
}

.lightbox-btn:focus {
   outline: none;
}

.left {
   left: 5px;
}

.left:hover, .left:focus {
   left: 0px;
}

.right {
   right: 5px;
}

.right:hover, .right:focus {
   right: 0px;
}

.lightbox-image {
   width: 100%;
   object-fit: cover;
   cursor: zoom-out;
}